table{
  border-collapse: collapse;
  width: 100%;
}
td, th{
  text-align: left;
  padding: 18px;
  margin: 18px;
}
input{
  margin: 12px;
}
.pagination{
  margin-top: 20px;
}
.pagination button{
  margin: 0 5px;
  padding: 5px 10px;
}